<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment-general :: head(~{::link}, ~{})">
    <link rel="stylesheet" th:href="@{/css/mapa.css}" type="text/css"/>
</head>
<body>
<header th:replace="fragments/fragment-general :: header"></header>
<!-- 	<div class="container-fluid py-2" style="height: 700px;"> -->
<div class="container-fluid py-2">
    <div class="row mx-2">
        <form action="#" th:action="@{/pedidos/list}" method="GET">
            <div class="form-group ml-1">
                <div class="input-group">
                    <input type="text" width="200" id="datepicker" placeholder="Escoja Fecha"
                           th:name="paramDate" th:value="${paramDate}"/> <input
                        class="btn btn-success btn-xs ml-4 " type="submit" value="Buscar"/>
                </div>
            </div>
        </form>
           </div>
    <div class="row">
        <div class="col-6">
            <div class="card bg-ligth ">
                <div class="card-header">
                    <span th:text="${titulo}"></span></a>
                </div>
                <div class="card-body">
                    <div class="table-wrapper-scroll-y">
                        <table th:id="'listaRepartos'" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th th:text="#{text.repartos.list.id}"></th>
                                <th th:text="#{text.repartos.list.fecha}"></th>
                                <th th:text="#{text.repartos.list.matricula}"></th>
                                <th th:text="#{text.repartos.list.chofer}"></th>
                                <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="Mapa"></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:id="'row_'+${reparto.id}" th:each="reparto: ${repartos}">
                                <td><a class="btn btn-success btn-sm" th:href="@{/repartos/ver/} + ${reparto.id}"
                                       th:text="${reparto.id}"></a></td>
                                <td th:text="${{reparto.fecha}}"></td>
                                <td th:text="${reparto.vehiculo.matricula}"></td>
                                <td th:text="${reparto.driver.firstName}" class="custom-left-aligment"></td>
                                <td sec:authorize="hasRole('ROLE_ADMIN')"><i class="fas fa-map-marked-alt fa-2x"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card bg-ligth ">
                <div class="card-header">
                    <span th:text="${titulo}"></span></a>
                </div>
                <div class="card-body">
                    <div class="table-wrapper-scroll-y">
                        <table th:id="'listaRepartos'" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th th:text="#{text.repartos.list.id}"></th>
                                <th th:text="#{text.repartos.list.fecha}"></th>
                                <th th:text="#{text.repartos.list.matricula}"></th>
                                <th th:text="#{text.repartos.list.chofer}"></th>
                                <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="Mapa"></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:id="'row_'+${reparto.id}" th:each="reparto: ${repartos}">
                                <td><a class="btn btn-success btn-sm" th:href="@{/repartos/ver/} + ${reparto.id}"
                                       th:text="${reparto.id}"></a></td>
                                <td th:text="${{reparto.fecha}}"></td>
                                <td th:text="${reparto.vehiculo.matricula}"></td>
                                <td th:text="${reparto.driver.firstName}" class="custom-left-aligment"></td>
                                <td sec:authorize="hasRole('ROLE_ADMIN')"><i class="fas fa-map-marked-alt fa-2x"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/fragment-general ::footer"></footer>
</div>

<script charset="UTF8" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script charset="UTF8"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script charset="UTF8" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script charset="UTF8" th:src="@{/js/custom-functions.js}" type="text/javascript"></script>
<script charset="UTF8" th:src="@{/js/date-es-ES.js}" type="text/javascript"></script>
<script charset="UTF8" src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js"
        type="text/javascript"></script>
<script charset="UTF8"
        src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/messages/messages.es-es.js"
        type="text/javascript"></script>
<script th:inline="javascript">
    var contextRoot = /*[[@{/}]]*/'';
</script>
<script type="text/javascript">
    $(document).ready(function () {
                $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4',
            locale: 'es-es',
            modal: true,
            footer: true,
            header: true,
            format: "dd-mm-yyyy",
            iconsLibrary: 'fontawesome',
            weekStartDay: 1,
            showOnFocus: true
        });
    });
</script>
</body>
</html>
