<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment-general :: head(~{::link}, ~{})">
    <link rel="stylesheet" th:href="@{/css/mapa.css}" type="text/css"/>
</head>
<body>
<header th:replace="fragments/fragment-general :: header"></header>
<!-- 	<div class="container-fluid py-2" style="height: 700px;"> -->
<div class="container-fluid py-2">
    <div class="row">
        <div class="col-4">
            <div class="card bg-ligth ">
                <div class="card-header">
                    <span th:text="${titulo}"></span> <a
                        class="btn custom-btn-outline-secondary btn-sm float-right" data-toggle="tooltip"
                       data-placement="bottom" th:title="#{tooltip.reparto.listar.detalle}" th:text="#{text.global.detalles}"
                        th:id="'tooltipVerDetallesReparto'"></a>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/repartos/list}" method="GET">
                        <div class="form-group ml-1">
                            <div class="input-group">
                                <input type="text" width="200" id="datepicker" th:placeholder="#{text.repartos.list.ask_for_date}"
                                       th:name="paramDate" th:value="${paramDate}"/> <input
                                    class="btn btn-success btn-xs ml-4 " type="submit" th:value="#{text.global.buscar}"/>
                            </div>
                        </div>
                    </form>
                    <div class="table-wrapper-scroll-y">
                        <table th:id="'listaRepartos'" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th th:text="#{text.repartos.list.id}"></th>
                                <th th:text="#{text.repartos.list.fecha}"></th>
                                <th th:text="#{text.repartos.list.matricula}"></th>
                                <th th:text="#{text.repartos.list.chofer}"></th>
                                <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.repartos.list.map}"></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:id="'row_'+${reparto.id}" th:each="reparto: ${repartos}">
                                <td><a class="btn btn-success btn-sm" th:href="@{/repartos/ver/} + ${reparto.id}"
                                       th:text="${reparto.id}"></a></td>
                                <td th:text="${{reparto.fecha}}"></td>
                                <td th:text="${reparto.vehiculo.matricula}"></td>
                                <td th:text="${reparto.driver.firstName}" class="custom-left-aligment"></td>
                                <td sec:authorize="hasRole('ROLE_ADMIN')"><i class="fas fa-map-marked-alt fa-2x"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mr-2">
            <div class="row h-100 mh-100" id="rowMap">
                <div class="col-12" id="map"></div>
            </div>
            <div class="collapse" th:id="'detallesRepartoBlock'"></div>
        </div>
    </div>
    <footer th:replace="fragments/fragment-general ::footer"></footer>
</div>

<div class="modal fade" id="dialogCalendar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="card-header">
                <p>Error en Selección de Fechas</p>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Solo se pueden escoger fechas entre el 01-06-2019 y el 30-06-2019
                </p>
            </div>
            <div class="card-footer">
                <a href="#" data-dismiss="modal" class="btn btn-warning">OK</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/fragment-general :: google_maps(~{::script})"></div>
<script charset="UTF8" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script charset="UTF8"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script charset="UTF8" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script charset="UTF8" th:src="@{/js/custom-functions.js}" type="text/javascript"></script>
<script charset="UTF8" th:src="@{/js/date-es-ES.js}" type="text/javascript"></script>
<script charset="UTF8" src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js"
        type="text/javascript"></script>
<script charset="UTF8"
        src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/messages/messages.es-es.js"
        type="text/javascript"></script>
<script th:inline="javascript">
    var contextRoot = /*[[@{/}]]*/'';
</script>
<script type="text/javascript">


    $(document).ready(function () {
        initMap();
        $('#datepicker').datepicker({
            uiLibrary : 'bootstrap4',
            locale : 'es-es',
            modal : true,
            footer : true,
            header : true,
            format : "dd-mm-yyyy",
            iconsLibrary : 'fontawesome',
            weekStartDay : 1,
            showOnFocus: true
        });

        $('#listaRepartos tr').click(function () {
            var repartoId = this.id.substr(4);
            var url = contextRoot + 'repartos/list/' + repartoId;
            alert(url);
            if ($('#detallesRepartoBlock').is(':hidden')) {
                $("#detallesRepartoBlock").show();
            }
            //Activamos el boton de Detalle
            if (!$("#tooltipVerDetallesReparto").hasClass("active")) {
                $("#tooltipVerDetallesReparto").toggleClass('active');
            }

            if (!$('#rowMap').hasClass('h-50')) {
                $('#rowMap').addClass('h-50');
                $('#rowMap').removeClass('h-100');
            }

            //Representamos el JSON en el Mapa
            $("#detallesRepartoBlock").load(url, null, function () {
                deleteMarkersRepartos();
                alert("Representamos el JSON en el Mapa");
                addMarkRepartos();
            });
        });

        $('#tooltipVerDetallesReparto').click(function () {
            $(this).toggleClass('active');
            if ($('#rowMap').hasClass('h-100')) {
                $('#rowMap').addClass('h-50');
                $('#rowMap').removeClass('h-100');
            } else {
                $('#rowMap').addClass('h-100');
                $('#rowMap').removeClass('h-50');
            }

            $('#detallesRepartoBlock').toggle();

        });

        $('[id*="tooltip"]').tooltip({
            'delay': {
                show: 1500,
                hide: 100
            }
        });

    })
    ;

    function viewFotos(id) {
        /*var url = window.location;*/
        openModel();
        ajaxGet(id);

    }

    function openModel() {

        $('#myModal').modal();
        $('#myModal').on('hidden.bs.modal', function (e) {
            removeImagesFromCarousel();
        });
        $('#fotosCarousel').carousel();

    }

    function ajaxGet(id) {
        $.ajax({
            type: "GET",
            url: contextRoot + "repartos/fotos/" + id,
            success: function (data) {
                fillData(data);
            },
            error: function (e) {
                fillData(null);
            }
        });
    }

    function fillData(data) {
        if (data != null) {
            for (var prop in data) {
                var url = contextRoot + "fotos/" + data[prop];
                console.log(url);
                $('<div class="carousel-item"><img src=' + url + ' alt=' + url + '/></div>')
                    .appendTo('.carousel-inner');
                $('<li data-target="#fotosCarousel" data-slide-to="' + prop + '"></li>')
                    .appendTo('.carousel-indicators');
            }
            $('.carousel-inner > .carousel-item').first()
                .addClass('active');
            $('.carousel-indicators > .li').first().addClass('active');
        } else {
            $(".card-body #pictureList").text(
                "No hay fotografías que mostrar!");
        }
    }

    function removeImagesFromCarousel() {
        var paras = document.getElementsByClassName('carousel-item');
        console.log(paras.length);
        while (paras[0]) {
            console.log(paras[0]);
            paras[0].parentNode.removeChild(paras[0]);
        }
        paras = document
            .getElementsByClassName('carousel-indicators');
        while (paras[0]) {
            console.log(paras[0]);
            paras[0].parentNode.removeChild(paras[0]);
        }
    }

    function getContextPath() {
        return "${pageContext.request.contextPath}";
    }
</script>
</body>
</html>
